<div class="container system-sans-serif">
  <div class="tc title f-5">stocks</div>
  <div class="flex justify-center flex-wrap pt3" *ngIf="state">
    <span class="stock f-5 ph2 bg-light-gray" (click)="expandStockToggle()">&#43;</span>
    <span *ngFor="let symbol of state.symbols;" class="stock f-5" [class.stock-active]="isActive(symbol)" (click)="setActive(symbol);">{{symbol}}&nbsp;</span>
  </div>
  <div *ngIf="isEditStocks" class="pa2 flex justify-center">
    <stock></stock>
  </div>
  <div *ngIf="activeStock" class="pa2 flex flex-column w-60 info-container">
      <stock-analysis></stock-analysis>
      <stock-table></stock-table>
  </div>
</div>